@import url(reset.css);
@import url(data_type.css);

.main {
    display: flex;
}

.main_paragraph {
    width: 800px;
    height: 500px;
    border: 6px solid rgb(228, 227, 227);
    border-radius: 18px;
    margin-left: 60px;
}